* {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  min-width: 360px;
}

footer {
  min-height: 50px;
  margin-top: auto;
  margin-left: 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  @include mobile {
    margin-left: 30px;
  }
}

* ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}
