.hero {
  display: flex;
  margin: 100px 0px;
  justify-content: center;

  @include tablet {
    margin-top: 50px;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;

    @include tablet {
      flex-direction: column-reverse;
      width: auto;
      min-width: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__line {
      margin-top: 50px;
      margin-bottom: 50px;
      height: 1px;
      width: 150px;
      border-width: 0;
      color: black;
      background-color: black;
    }

    .icon__list {
      display: flex;
      width: 300px;
      padding: 0;
      margin: 0;
      justify-content: space-evenly;
    }
  }

  &__right {
    width: 30%;
    min-width: 410px;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include tablet {
      height: auto;
      min-width: 0;
      max-width: 600px;
      width: 100%;
      text-align: center;
    }

    .description {
      font-weight: 300;
      font-size: 28px;
      line-height: 38px;
      margin: 0;

      @include mobile {
        min-width: 350px;
        padding: 10px;
      }

      &__link {
        display: inline-block;
        position: relative;

        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 0.5em;
          z-index: -10;
          background-color: rgb(221, 221, 221);
        }

        &::after {
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition: transform 0.7s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }

        &--UOE::after {
          background-color: rgb(66, 154, 255);
        }

        &--M2M::after {
          background-color: rgb(88, 88, 88);
        }
      }
    }
  }
}
