.summary {
  border-left: 1px solid;
  font-weight: 300;
  display: flex;
  font-size: 20px;
  line-height: 25px;
  min-height: 100px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  margin: 100px 0px 100px 15px;

  @include tablet {
    flex-direction: column;
    width: auto;
    margin: 80px 50px 80px 50px;
  }

  @include mobile {
    margin: 60px 10px 60px 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    margin: 0;
    margin-bottom: 30px;

    &__link {
      display: inline-block;
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.5em;
        z-index: -10;
        background-color: rgb(221, 221, 221);
      }

      &::after {
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.5s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &--ILC::after {
        background-color: rgb(169, 124, 73);
      }
      &--ANS::after {
        background-color: rgb(255, 248, 123);
      }
      &--CNX::after {
        background-color: rgb(102, 177, 79);
      }
      &--CTN::after {
        background-color: rgb(255, 95, 95);
      }
    }
  }

  &__description {
    margin: 0;
  }

  &__images {
    padding-top: 20px;
    &__image {
      padding-right: 10px;
      max-height: 100px;
    }
  }
}
