.hero {
  display: flex;
  margin: 100px 0px;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .hero {
    margin-top: 50px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}
@media only screen and (max-width: 1000px) {
  .hero__container {
    flex-direction: column-reverse;
    width: auto;
    min-width: 0;
  }
}
.hero__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__left__line {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
  width: 150px;
  border-width: 0;
  color: black;
  background-color: black;
}
.hero__left .icon__list {
  display: flex;
  width: 300px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}
.hero__right {
  width: 30%;
  min-width: 410px;
  height: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media only screen and (max-width: 1000px) {
  .hero__right {
    height: auto;
    min-width: 0;
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
}
.hero__right .description {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  margin: 0;
}
@media only screen and (max-width: 450px) {
  .hero__right .description {
    min-width: 350px;
    padding: 10px;
  }
}
.hero__right .description__link {
  display: inline-block;
  position: relative;
}
.hero__right .description__link::after, .hero__right .description__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5em;
  z-index: -10;
  background-color: rgb(221, 221, 221);
}
.hero__right .description__link::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease-in-out;
}
.hero__right .description__link:hover::after {
  transform: scaleX(1);
}
.hero__right .description__link--UOE::after {
  background-color: rgb(66, 154, 255);
}
.hero__right .description__link--M2M::after {
  background-color: rgb(88, 88, 88);
}

* {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  min-width: 360px;
}

footer {
  min-height: 50px;
  margin-top: auto;
  margin-left: 70px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
@media only screen and (max-width: 450px) {
  footer {
    margin-left: 30px;
  }
}

* ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar__item {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 20px;
  height: 30px;
  margin-top: 30px;
  margin-right: 70px;
}
@media only screen and (max-width: 450px) {
  .navbar__item {
    margin-right: 30px;
  }
}
.navbar__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: -10;
  transform: scaleX(0);
  background-color: #000;
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}
.navbar__item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar__item--selected::before {
  background-color: rgb(0, 0, 0);
  transform: none;
}

.work {
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  align-items: center;
}
.work__container {
  display: flex;
  width: 66%;
  min-width: 1000px;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .work__container {
    width: auto;
    min-width: 0;
  }
}
.work__container .work__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.work__container .work__top .work__description {
  max-width: 700px;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}

.summary {
  border-left: 1px solid;
  font-weight: 300;
  display: flex;
  font-size: 20px;
  line-height: 25px;
  min-height: 100px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  margin: 100px 0px 100px 15px;
}
@media only screen and (max-width: 1000px) {
  .summary {
    flex-direction: column;
    width: auto;
    margin: 80px 50px 80px 50px;
  }
}
@media only screen and (max-width: 450px) {
  .summary {
    margin: 60px 10px 60px 20px;
  }
}
.summary__title {
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  margin: 0;
  margin-bottom: 30px;
}
.summary__title__link {
  display: inline-block;
  position: relative;
}
.summary__title__link::after, .summary__title__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5em;
  z-index: -10;
  background-color: rgb(221, 221, 221);
}
.summary__title__link::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease-in-out;
}
.summary__title__link:hover::after {
  transform: scaleX(1);
}
.summary__title__link--UOE::after {
  background-color: rgb(66, 154, 255);
}
.summary__title__link--M2M::after {
  background-color: rgb(88, 88, 88);
}
.summary__description {
  margin: 0;
}/*# sourceMappingURL=main.css.map */